/* You can add global styles to this file, and also import other style files */
// body {
//     margin: 0;
//     overflow: hidden;
//     color: red;
//     text-align: center;
// }
html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: rgba(0, 0, 0, 0.025);
}


.mat-dialog-override {
    height: 0px;

    mat-dialog-container {
        > :first-child {
            display: flex;
            flex-direction: column;
            height: 100%;
        }

        mat-dialog-content,
        div[mat-dialog-content] {
            flex-grow: 1;
            max-height: unset;
        }
    }
}

.label {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}